 <!-- Footer -->
 <footer class="footer text-dark text-center py-4 w-100" style="background-color: rgb(230, 230, 230);">
    <div class="container">
      <h3 class="mb-4">YouTube.com</h3>
      <nav class="mb-4">
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li class="mx-3"><a href="#" class="text-dark">Home</a></li>
          <li class="mx-3"><a href="#" class="text-dark">Explore</a></li>
          <li class="mx-3"><a href="#" class="text-dark">Subscriptions</a></li>
          <li class="mx-3"><a href="#" class="text-dark">Originals</a></li>
          <li class="mx-3"><a href="#" class="text-dark">Youtube-music</a></li>
          <li class="mx-3"><a href="#" class="text-dark">Library</a></li>
        </ul>
      </nav>
      <p class="mb-0">&copy; 2024 All rights reserved </p>
    </div>
  </footer>
