<header
  class="header navbar navbar-expand-lg navbar-light bg-light fixed-top vw-100"
>
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <img
        class="hamburger-menu me-4"
        src="https://supersimple.dev/public/img/exercises/youtube/icons/hamburger-menu.svg"
        alt="Menu"
      />
      <img
        class="youtube-logo"
        src="https://supersimple.dev/public/img/exercises/youtube/icons/youtube-logo.svg"
        alt="YouTube"
      />
    </div>
    <div class="ml-auto d-flex align-items-center middle-section">
      <input class="search-bar" type="text" placeholder="Search" />
      <button class="search-button">
        <img
          class="search-icon"
          src="https://supersimple.dev/public/img/exercises/youtube/icons/search.svg"
          alt="Search"
        />
        <div class="tooltip">Search</div>
      </button>
      <button
        class="btn btn-light border voice-search-button position-relative ml-2"
      >
        <img
          class="voice-search-icon"
          src="https://supersimple.dev/public/img/exercises/youtube/icons/voice-search-icon.svg"
          alt="Voice Search"
        />
        <div class="tooltip">Search with your voice</div>
      </button>
    </div>
    <div
      class="d-flex align-items-center justify-content-between right-section"
    >
      <div class="position-relative upload-icon-container mr-3">
        <img
          class="upload-icon"
          src="https://supersimple.dev/public/img/exercises/youtube/icons/upload.svg"
          alt="Create"
        />
        <div class="tooltip">Create</div>
      </div>
      <img
        class="youtube-apps-icon mr-3"
        src="https://supersimple.dev/public/img/exercises/youtube/icons/youtube-apps.svg"
        alt="Apps"
      />
      <div class="position-relative notifications-icon-container mr-3">
        <img
          class="notifications-icon"
          src="https://supersimple.dev/public/img/exercises/youtube/icons/notifications.svg"
          alt="Notifications"
        />
        <div class="notifications-count">3</div>
      </div>
      <div class="current-user-picture text-center fw-medium">J</div>
    </div>
  </div>
</header>
