<nav class="sidebar d-flex flex-column align-items-center">
    <div class="sidebar-link d-flex flex-column align-items-center py-3">
        <img src="https://supersimple.dev/public/img/exercises/youtube/icons/home.svg" alt="Home">
        <div>Home</div>
    </div>
    <div class="sidebar-link d-flex flex-column align-items-center py-3">
        <img src="https://supersimple.dev/public/img/exercises/youtube/icons/explore.svg" alt="Explore">
        <div>Explore</div>
    </div>
    <div class="sidebar-link d-flex flex-column align-items-center py-3">
        <img src="https://supersimple.dev/public/img/exercises/youtube/icons/subscriptions.svg" alt="Subscriptions">
        <div>Subscriptions</div>
    </div>
    <div class="sidebar-link d-flex flex-column align-items-center py-3">
        <img src="https://supersimple.dev/public/img/exercises/youtube/icons/originals.svg" alt="Originals">
        <div>Originals</div>
    </div>
    <div class="sidebar-link d-flex flex-column align-items-center py-3">
        <img src="https://supersimple.dev/public/img/exercises/youtube/icons/youtube-music.svg" alt="YouTube Music">
        <div>YouTube Music</div>
    </div>
    <div class="sidebar-link d-flex flex-column align-items-center py-3">
        <img src="https://supersimple.dev/public/img/exercises/youtube/icons/library.svg" alt="Library">
        <div>Library</div>
    </div>
</nav>


