.main-container {
  padding-left: 70px;
  padding-right: 20px;
  padding-top: 70px;
  background-color: rgb(248, 248, 248);
}

.dimming-effect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.left-container {
  background-color: #ffffff;
}
.right-container {
  background-color: #ffffff;
}
.document-card {
  transition: transform 0.3s ease;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.document-card:hover {
  transform: scale(1.05);
}
.description-card {
  transition: border-color 0.3s ease, transform 0.3s ease;
  background: linear-gradient(45deg, #e0eafc, #cfdef3);
}
.description-card:hover {
  border-color: #007bff;
  transform: scale(1.02);
}

.dimmed .card {
  opacity: 0.5;
}

.container-custom {
  margin-left: 30px;
  margin-right: 0px;
}

.height-playlist {
  padding: 1rem;
  height: 90%;
}
